<% include ../partials/head %>
  <body>
    <% include ../partials/header %>

    <!-- SLIDER OFERTAS/DESTACADAS-->
    <section class="container-slider-featured">
        <img src="../images/imagenes-utiles/16.jpg" alt="banner-top" class="banner-top">
    </section> 
    
    <main class="home-main">
      <div class="container-shop">
        <h3>Productos en Oferta</h3>
          <section class="container-products">
            
            <% for( let i=0; i < products.length; i++){ %>
              <% if (products[i].discount_id !== 7) { %>
               
                <article class="product">
                  <a href="/products/detail/<%= products[i].id %>"><img src="/images/products/<%= products[i].image%>"
                      width='90' height='120' alt="<%= products[i].prod_name%>" class="product-img">
                  </a>
                  <div class="main-article">
                    <h4 class="brand">
                      <%= products[i].brand%>
                    </h4>
                    <h4 class="style">
                      <%= products[i].style.style%>
                    </h4>
                    <h4 class="prod_name">
                      <% if (products[i].prod_name) { %>
                        <%= products[i].prod_name%>
                          <% } %>
                    </h4>
                    <span class="price">$ <%= products[i].price%></span><br>
                    <span class="discount"> 
                      <% if (products[i].discount_id !== 7) { %>
                        <%= products[i].discount.discount%> %
                      <% } %>
                    </span>
                  </div>
                  <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                </article>
              
              <% } %>
              <% } %>

          </section>
      </div>
     
      <section class="container-carousel-brands">
          <ul class="brands-logo">
            <img src="/images/imagenes-utiles/marcas/logo-rabieta.png" width='95' height='95' class="item" alt="Rabieta">
            <img src="/images/imagenes-utiles/marcas/logo-weidmann.png" width='95' height='95' class="item" alt="Weidmann">
            <img src="/images/imagenes-utiles/marcas/logo-beagle.png" width='95' height='95' class="item" alt="Beagle">
            <img src="/images/imagenes-utiles/marcas/logo-guinness.png" width='95' height='95' class="item" alt="Guinness">
            <img src="/images/imagenes-utiles/marcas/logo-antares-nuevo.png" width='95' height='95' class="item" alt="Antares">
            <img src="/images/imagenes-utiles/marcas/logo-delirium.png" width='95' height='95' class="item" alt="Delirium">
            <img src="/images/imagenes-utiles/marcas/logo-oharas.png" width='95' height='95' class="item" alt="Oharas">
            <img src="/images/imagenes-utiles/marcas/logo-oranjeboom.png" width='95' height='95' class="item" alt="Oranjeboom">
          </ul> 
      </section>
      
      <img src="/images/imagenes-utiles/10.jpg" alt="banner-bottom" class="banner-bottom">

     <section class="container-tips">
        <div class="tip">
        <i class="fas fa-beer icono-footer" ></i>
          <h4 class="tip-title">Variedad</h4>
          <p class="tip-text">Gran cantidad de productos de primera calidad.</p>
        </div>
        <div class="tip">
          <i class="fas fa-credit-card icono-footer"></i>
          <h4 class="tip-title">Elegí cómo pagar</h4>
          <p class="tip-text">Podés pagar con tarjeta, débito y medios electrónicos.</p>
        </div>
        <div class="tip">
          <i class="fas fa-truck icono-footer"></i>
          <h4 class="tip-title">Envíos </h4>
          <p class="tip-text">Te lo llevamos a tu casa con el máximo cuidado.</p>
        </div>
     </section>
    
    </main>

    <% include ../partials/footer %>
    </body>
  
</html>