<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
        <div class="form-wrap">
            <form action="/admin/edit/<%= productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <h1>Editar producto</h1>
                    <div class = "errors">
                                <ul></ul>
                            </div>
                    <div class="group">
                        <label for="">Marca</label><br>
                        <input type="text" name='brand' id='brand' class="form-control" value="<%= productToEdit.brand%>"><span class="barra"></span>
                        <% if (locals.errors && errors.brand) { %>
                            <div class='text-danger'>
                                <%= errors.brand.msg %>
                            </div>
                        <% } %>  
                    </div>
                    <div class="group">
                        <label for="">Nombre</label><br>
                        <input type="text" name='prod_name' id='prod_name' class="form-control" value="<%= productToEdit.prod_name%>"><span class="barra"></span>
                    </div>
                    <div class="group">
                        <label for="">Descripción</label><br>
                        <textarea name="description" id='description' rows="5" cols="50" class="form-control" value=""><%= productToEdit.description%></textarea>></textarea><span class="barra"></span>
                        <% if (locals.errors && errors.description) { %>
                            <div class='text-danger'>
                                <%= errors.description.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div class="group">
                        <label for="">Graduación alcohólica</label><br>
                        <input type="text" name='alcohol' id='alcohol' class="form-control" value="<%= productToEdit.alcohol%>"><span class="barra"></span>
                    </div>
                    <div class="group">
                        <label for="">Amargor</label><br>
                        <input type="text" name='bitterness' id='bitterness' class="form-control" value="<%= productToEdit.bitterness%>"><span class="barra"></span>
                    </div>
                    <div class="group">
                        <label for="">IBU</label><br>
                        <input type="text" name='ibu' id='ibu' class="form-control" value="<%= productToEdit.ibu%>"><span class="barra"
                            ></span>
                    </div>
                    <div class="custom-file">
                        <figure class="group">
                            <img  class="w-100" src="/images/products/<%= productToEdit.image%>" alt="product <%= productToEdit.brand%>">
                        </figure>
                        <input type="hidden"  name="image"  value="<%= productToEdit.image%>">
                        <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                        <label for="">Seleccionar imágenes</label><br>
                        <input type="file" name='image' accept=".jpg,.jpeg,.png" id='images' value="<%= productToEdit.image%>"><span class="barra"></span>
                        <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 
                        <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                        <%if (locals.errors && errors.image){%>
                            <div class="text-danger">
                                <%=errors.image.msg%>
                            </div>
                        <%}%>
                    </div>              
                    <!--Aquí solicito la imagen-->
                    <div class="group">
                        <label for="origin">Origen</label><br>
                        <select name="origin_id" id="origin_id" class="eleccion-opciones">
                            <option value="<%= productToEdit.origin%>" selected>Elegí el origen</option>
                    
                            <% for (let i=0; i < origin.length; i++) { %>
                                <option <%if (locals.oldData && locals.oldData.origin) { %>
                                    <% if (locals.oldData.origin==origin[i].origin) { %>
                                        selected
                                        <% } %>
                                            <% } %>
                                        value="<%= origin[i].id %>"><%= origin[i].id %> - <%=origin[i].origin%>
                                </option>
                                <% } %>
                    
                        </select>
                        <%if (locals.errors && errors.origin_id){%>
                            <div class="text-danger">
                                <%=errors.origin_id.msg%>
                            </div>
                            <%}%>
                    </div>
                    
                    <div class="group">
                        <label for="style">Variedad</label><br>
                        <select name="style_id" id="style_id" class="eleccion-opciones">
                            <option value="<%= productToEdit.style%>" >Elegí la variedad</option>
                    
                            <% for (let i=0; i < style.length; i++) { %>
                                <option <%if (locals.oldData && locals.oldData.style) { %>
                                    <% if (locals.oldData.style==style[i].style) { %>
                                        selected
                                        <% } %>
                                            <% } %>
                                                value="<%= style[i].id %>"><%= style[i].id %> - <%=style[i].style%>
                                </option>
                                <% } %>
                    
                        </select>
                        <%if (locals.errors && errors.style_id){%>
                            <div class="text-danger">
                                <%=errors.style_id.msg%>
                            </div>
                            <%}%>
                    </div>
                    
                    <div class="group">
                        <label for="">Precio</label><br>
                        <input type="text" name='price' id='price' class="form-control" value="<%= productToEdit.price%>"><span class="barra"></span>
                        <%if (locals.errors && errors.price){%>
                            <div class="text-danger">
                                <%=errors.price.msg%>
                            </div>
                        <%}%>
                    </div>
                    
                    <div class="group">
                        <label for="style">Descuento</label><br>
                        <select name="discount_id" id="discount_id" class="eleccion-opciones">
                            <option value="<%= productToEdit.discount%>" selected>Elegí el descuento</option>
                    
                            <% for (let i=0; i < discount.length; i++) { %>
                                <option <%if (locals.oldData && locals.oldData.discount) { %>
                                    <% if (locals.oldData.discount==discount[i].discount) { %>
                                        selected
                                        <% } %>
                                            <% } %>
                                                value="<%= discount[i].id %>"><%= discount[i].id %> - <%=discount[i].discount%>
                                </option>
                                <% } %>
                    
                        </select>
                        <%if (locals.errors && errors.discount_id){%>
                            <div class="text-danger">
                                <%=errors.discount_id.msg%>
                            </div>
                            <%}%>
                    </div>
                    
                    <div class="buttons">
                        <div class="input-wrap">
                            <button type="submit" class="btn btn btn-info">Guardar</button>
                            <a href="/admin" class="btn btn-danger">Volver</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validatorjs/2.0.0/validator.min.js"></script>
        <script src='/javascript/validationProducts.js'></script>
        <% include ../partials/footer %>
    </body>

    </html>