<% include ../partials/head %>
<body>
	<% include ../partials/header %>
	
	<div class="profile-container">
		<div class="row">
			<div class="col-md-3">
				<h2 class="first_name">Hola <%= locals.userLogged.first_name %></h2> 
				<img src="/images/usuarios/<%= locals.userLogged.avatar %>">
				<h3 class="name"> <%= locals.userLogged.first_name %> <%= locals.userLogged.last_name %> <h3>
				<p class="alert-success"> <%= locals.userLogged.email %> </p>
				<a href="/users/edit/<%= locals.userLogged.id %>" class="button">EDITAR</a>
				<a href="/users/logout" class="button">LOGOUT</a>
			</div>
		</div>
	</div>
		
	<% include ../partials/footer %>
</body>
</html>