<% include ../partials/head %>

    <body>
        <% include ../partials/header %>
            <div class="container-shop">
                <h3>Productos</h3>
                <section class="container-products">
                    <div class="product">
                        <a href="products/productDetail/<%= product.id %>"><img
                                src="../images/products/<%= product.image %>" width='90'
                                height='120' alt="antares_Atlantica" class="product-img">
                        </a>
                        <div class="main-article">
                            <h4 class="brandName"><%= product.brand %> 
                                <% if (product.name) { %>
                                    <%= product.name %> 
                                <% } %></h4>
                            <span class="price"><%= product.price %></span>
                            <span class="discount">
                                <% if (product.discount) { %>
                                    <%= product.dicount %>
                                <% } %>
                            </span>

                        </div>
                        <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                    </div>
                    
                </section>
            </div>
            <% include ../partials/footer %>
    </body>

    </html>